[submodule "ttn-resin-gateway-rpi"]
	path = ttn-resin-gateway-rpi
	url = https://github.com/pe1mew/ttn-resin-gateway-rpi.git
[submodule "chirpstack-gateway-os"]
	path = chirpstack-gateway-os
	url = https://github.com/chirpstack/chirpstack-gateway-os.git
[submodule "chirpstack-mqtt-forwarder"]
	path = chirpstack-mqtt-forwarder
	url = https://github.com/chirpstack/chirpstack-mqtt-forwarder.git
[submodule "chirpstack-gateway-mesh"]
	path = chirpstack-gateway-mesh
	url = https://github.com/chirpstack/chirpstack-gateway-mesh.git
[submodule "chirpstack-concentratord"]
	path = chirpstack-concentratord
	url = https://github.com/chirpstack/chirpstack-concentratord.git
[submodule "chirpstack-udp-forwarder"]
	path = chirpstack-udp-forwarder
	url = https://github.com/chirpstack/chirpstack-udp-forwarder.git
[submodule "gateway-rs"]
	path = gateway-rs
	url = https://github.com/helium/gateway-rs.git
